.screen {
    background-color: black;
    width: 500px;
    height: 500px;
    margin: auto;
}

.player {
    position: absolute;
    background-color: orange;
    margin-left: 0px;
    margin-top: 0px;
    width: 18px;
    height: 18px;
    border: black solid 1px;
}